
@keyframes cutLeftEar {
    /* https://css-tricks.com/css-keyframe-animation-delay-iterations/ */
    0% { transform: translate(49.83px, 51.19px) rotate(-45deg); }
    2% { transform: translate(49.83px, 51.19px) rotate(-45deg); }
    5% { transform: translate(49.83px, 51.19px) rotate(-25deg); }
    10% { transform: translate(49.83px, 51.19px) rotate(-45deg); }
    100% { transform: translate(49.83px, 51.19px) rotate(-45deg); }
}

@keyframes cutRightEar {
    /* https://css-tricks.com/css-keyframe-animation-delay-iterations/ */
    0% { transform: translate(49.83px, 51.19px) rotate(-45deg); }
    5% { transform: translate(49.83px, 51.19px) rotate(-55deg); }
    10% { transform: translate(49.83px, 51.19px) rotate(-45deg); }
    100% { transform: translate(49.83px, 51.19px) rotate(-45deg); }
}

@font-face {
    font-family: HelveticaNeueCyrUltraLight;
    src: url("./HelveticaNeueCyr-UltraLight.otf") format("opentype");
}

body {
    background-color: black;
    color: white;
    font-family: Trebuchet, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
}

::selection {
    color: black;
    background: rgba(255, 255, 255, 0.996);
}

::-moz-selection {
    color: black;
    background: rgba(255, 255, 255, 0.996);
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

address, a {
    font-weight: 100;
}

.row {
    margin-top: 20vh;
}

.logo {
    font-family: 'Lato', Helvetica, sans-serif;
}

.logo svg {
    margin-bottom: -40px;
    width: 200px;
}

.logo #earLeft {
    animation-name: cutLeftEar;
    animation-duration: 10s;
    transition-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.logo #earRight {
    animation-name: cutRightEar;
    animation-duration: 10s;
    transition-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.logo #earLeft, .logo #earRight {
    stroke-width: 0.65;
}

.logo h1 {
    font-weight: 100;
}

.logo h1.threehc {
    font-size: 6em;
    margin-top: 0;
    margin-bottom: 0;
}

.logo h1.advisorygroup {
    font-size: 2em;
    margin-top: -0.5em;
    margin-bottom: 2em;
}

.text p {
    margin-bottom: 0;
}

.text ul {
    padding-left: 20px;
}

.text p, .text ul li {
    text-align: left;
}

address {
    font-style: normal;
    line-height: 1.45;
    margin-bottom: 20vh;
    font-family: 'Lato', Helvetica, sans-serif;
}

@media only screen and (max-device-width: 768px) {
    header {
        margin-top: 5vh;
    }
    svg {
        margin-bottom: -50px;
    }
    h1 {
        font-size: 3em;
    }
    #earLeft, #earRight {
        stroke-width: 0.3;
    }
    address, a {
        font-weight: 300;
    }
    address {
        margin-bottom: 5vh;
    }
    a {
        text-decoration: none;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    a {
        font-weight: 300;
    }
    address {
        font-weight: 300;
    }
}

@supports (-ms-accelerator:true) {
    /* IE Edge 12+ CSS styles go here */
    a {
        font-weight: 300;
    }
    address {
        font-weight: 300;
    }
}
