
@keyframes cutLeftEar {
    0% { transform: translate(49.83px, 51.19px) rotate(-45deg); }
    50% { transform: translate(49.83px, 51.19px) rotate(-25deg); }
    100% { transform: translate(49.83px, 51.19px) rotate(-45deg); }
}

@keyframes cutRightEar {
    0% { transform: translate(49.83px, 51.19px) rotate(-45deg); }
    50% { transform: translate(49.83px, 51.19px) rotate(-55deg); }
    100% { transform: translate(49.83px, 51.19px) rotate(-45deg); }
}

body {
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
}

::selection {
    color: black;
    background: rgba(255, 255, 255, 0.996);
}

::-moz-selection {
    color: black;
    background: rgba(255, 255, 255, 0.996);
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

address, a {
    font-weight: 100;
}

header {
    margin-top: 20vh;
}

svg {
    margin-bottom: -40px;
    width: 200px;
}

#earLeft {
    animation-name: cutLeftEar;
    animation-duration: 800ms;
    animation-delay: 200ms;
    transition-timing-function: ease-in-out;
}

#earRight {
    animation-name: cutRightEar;
    animation-duration: 1s;
    transition-timing-function: ease-in-out;
}

#earLeft, #earRight {
    stroke-width: 0.65;
}

h1 {
    font-weight: 100;
    font-size: 5em;
    margin-top: 0;
}

address {
    font-style: normal;
    line-height: 1.45;
}

@media only screen and (max-device-width: 768px) {
    svg {
        margin-bottom: -50px;
    }
    h1 {
        font-size: 3em;
    }
    #earLeft, #earRight {
        stroke-width: 0.3;
    }
    address, a {
        font-weight: 300;
    }
    a {
        text-decoration: none;
    }
}
